@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(219, 219, 124);
    --secondary-color: rgb(66, 93, 112);
    --tertiary-color: rgb(0, 0, 0);
    --quaternary-color: rgb(159, 185, 196);
}

body {
    background-color: var(--secondary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header style */
header {
    background-color: var(--primary-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

header div h1 {
    font-weight: bold;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 30px;

}

header a {
    color: var(--tertiary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    margin: 7px 0;
}

nav li {
    display: inline-flex;
}

.nav-links li {
    display: inline-flex;
    list-style: none;
    margin: 0 30px;
    font-size: 22px;
    font-weight: lighter;
    text-decoration-line: underline;
    align-items: flex-end;
}

/* Changes nav links to white while hovering */
.nav-links li a:hover {
    color: white;
}

/* Header End */

/* Hero */
.jumbotron {
    margin: -7px 0px -7px;
}

.hero {
    width: 100%;
    height: 100px;
}


/* Hero end */

/* About Me section */
.about-me h3,
.work h3,
.contact-me h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me p {
    background-color: var(--primary-color);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify; 
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#about-me {
    background-color: var(--quaternary-color);
    opacity: 90%;
    margin-top: -17px;
}

.avatar {
    height: 300px;
    width: 200px;
    border: 5px solid var(--primary-color); 
    border-radius: 10px;
}

.about-me-content {
    display: flex;

}
/* About Me End */

/* Work section */
.run-buddy p,
.robo-gladiators p,
.rps p {
    font-weight: bold;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: white;
}

.run-buddy-title {
    margin-left: 50px;
}

.run-buddy-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 500px;
    border: 5px solid var(--primary-color);  
    border-radius: 10px;
}

.secondary-pic {
    height: 400px;
    width: 650px;
    border: 5px solid var(--primary-color); 
    border-radius: 10px;
}

.secondary-pic-row,
.secondary-pic-row2 {
    display: inline-flex;
    justify-content: space-around;
} 

.secondary-work-images {
    text-align: center;
    justify-content: space-evenly;
}

.run-buddy-pic:hover,
.secondary-pic:hover {
    opacity: 80%;
}
/* Work End */

/* Contact Me section */
.contact-me {
    background-color: var(--primary-color);
}

.contact-me h3 {
    margin-top: 20px;
}

#contact-me li {
    display: inline-flex;
}

.contact-links {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: inline-flex;
    flex-direction: row;
    font-size: 22px;
    margin-left: 35%;
    font-weight: lighter;
    padding: 5px;
}

/* Contatct Me End */

/* Footer */
.footer {
    background-color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    color: white;
}
/* Footer End */
