@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px; 
    background-color: grey;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header style */
header {
    background-color: lightpink;
    margin: 0px;
    padding: 0px;
}

header h1 {
    padding: 0px;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 30px;
    display: flex;
    align-items: left;
    text-shadow: aqua;
}

header a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    margin: 7px 0;
}

nav li {
    display: inline-flex;
}

.nav-links li {
    display: inline-flex;
    list-style: none;
    margin: 0 30px;
    font-size: 22px;
    font-weight: lighter;
    text-decoration-line: underline;
    align-items: flex-end;
}

/* Changes nav links to white while hovering */
.nav-links li a:hover {
    color: white;
}

/* Header End */

/* Hero */
.jumbotron {
    margin: -7px 0px -7px;
}

.hero {
    width: 100%;
    height: 100px;
}


/* Hero end */

/* About Me section */
.about-me h3,
.work h3,
.contact-me h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me p1 {
    background-color: lightpink;
    width: 100%;
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me p2 {
    align-content: flex-end;
}

.avatar {
    height: 300px;
    width: 200px;
}
/* About Me End */

/* Work section */
.run-buddy p,
.robo-gladiators p,
.rps p {
    font-weight: bold;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.run-buddy-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    border: 5px solid lightpink;  
}

.secondary-pic {
    height: 250px;
    width: 500px;
    border: 5px solid lightpink; 
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.run-buddy-pic:hover,
.secondary-pic:hover {
    opacity: 80%;
}
/* Work End */

/* Footer */
.footer {
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Footer End */
